.kotlin/
app/build/
app/release/
app/mapping.txt
build/
local.properties
.cxx
.claude/
*.iml
.gradle
.idea/caches/
.idea/workspace.xml
.idea/misc.xml
.idea/markdown.xml
.idea/modules.xml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/deploymentTargetSelector.xml
.idea/appInsightsSettings.xml
.idea/AndroidProjectSystem.xml
.idea/deviceManager.xml
.idea/gradle.xml
.idea/copilot*
.idea/assetWizardSettings.xml